1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

In [ ]:
Operators: +,-,*,/
Values:    'hello',-88.5,5

2. What is the difference between string and variable?

In [ ]:
ANSWER:-
Variables are symbols that you can use to store data in a program. 
You can think of them as an empty box that you fill with some data
or value. Strings are data, so we can use them to fill up a variable. 
Declaring strings as variables can make it easier for us to work with 
strings throughout our Python programs.

3. Describe three different data types.

In [ ]:
ANSWER:Data types
-------------------------------------------------------------------------------
Data Types    Examples         Explanation

Integer        1234567         Whole numbers
Floats	       3.14            Decimal Numbers
Booleans      True,False       Truth values that represent Yes/No

4. What is an expression made up of? What do all expressions do?

In [ ]:
ANSWER:-
An expression is a combination of values and operators.All expressions 
evaluate(that is,reduce) to a single value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
ANSWER:-
An expression evaluates to a single value.A statement does not.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [49]:
ANSWER:-
The bacon variable is set to 20.
the bacon +1 expression does not reassign
the value in bacon(the would r=need an assignment statement)
bacon = bacon+1

7. What should the values of the following two terms be?
'spam'+"spamspam"
'spam'*3

In [16]:
ANSWER:-
Both expression evaluate to the string 'spamspamspam'
'spam'+"spamspam"

'spamspamspam'

In [17]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
ANSWER:-
Because variable names cannot begin with a number.
like 
1 = 10  # it will show error
a = 100 # it will print 100

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
ANSWER:-
The int(),float() and str()function evaluate to the integer,
floating point number, and string versions of the value passes 
to them.

10. Why does this expression cause an error? How can you fix it?
'I have eaten' +99+'burritos.'

In [ ]:
The  expression cause an error because 99 is an interger,and 
only string can be concatenated to other strings with the
+operator.the correct way is 

'i have eaten ' + str(99)+ ' burritos'

In [48]:
'i have eaten ' + str(99)+ ' burritos'

'i have eaten 99 burritos'